html
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6
{
    text-transform: uppercase;
    font-weight: 400;
}

header
{
    background-image: url("../img/header_anpassad.jpg");
    padding: 10px 0px;
}

a, a:visited, a:hover
{
    color: black;
}

nav
{
    width: 100%;
}

nav > ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

.menyactive
{
    font-weight: bold;
}

.menyitem
{
    vertical-align: middle;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
    min-width: 100px;
    
    display: block;
    margin: 0px 0px;
}

@media (min-width: 800px)
{

    .menyitem
    {
        display: inline-block;
    }
}

@media (min-width: 1000px)
{
    .menyitem
    {
        margin: 0px 20px;
    }
}

@media (min-width: 1250px)
{
    .menyitem
    {
        margin: 0px 45px;
    }
}

@media (max-width: 220px)
{
    .text
    {
        word-wrap: break-word;    
    }
}

/*
.menyitem:before 
{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
*/

.menyitem > a, .menyitem > a:visited, .menyitem > a:hover
{
    color: white;
    text-decoration: none;
}

/*
.menyitem > a,
.menyitem > a:after,
.menyitem > a:before {
  transition: all .5s;
}
*/

/*
.menyitem > a{
  position: relative;
}
.menyitem > a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 1px;
}
.menyitem > a:hover:after {
  width: 100%;
}

.menyitem > a {
  transition: all 2s;
}

.menyitem > a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.menyitem > a:hover {
  color: #fff;
  z-index: 1;
}
.menyitem > a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
*/

/* Systembolagets tuffa underline */
.underline-transition,
.underline-transition-child__element {
    position: relative;
}

    .underline-transition:hover,
    .underline-transition-child:hover {
        text-decoration: none;
    }

.underline-transition:before,
.underline-transition-child__element:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.selected > .underline-transition:before,
.underline-transition.opened:before,
.underline-transition.selected:before,
.underline-transition:hover:before,
.underline-transition-child.selected .underline-transition-child__element:before,
.underline-transition-child:hover .underline-transition-child__element:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* /Systemets tuffa underline */

.logo
{
    max-width: 100%;
}

/*

Dyr effekt med knappar - https://codepen.io/maheshambure21/pen/QwXaRw?editors=1100 



*/



/*
	START Header slider
*/

#slider
{
	color:			white;
	box-sizing: 	border-box;
	padding:		50px 20px;
	background:		none;
	text-align:	 	center;
	position:		relative;
	margin-bottom:	-70px;
}

#arrowLeft, #arrowRight
{
	  position: 	absolute;
	  z-index:  	9999;
	  display:		none;
	  font-size:	35px;
	  cursor:		pointer;
	  bottom:		70px;
	  display:		none;
}

@media (min-width: 620px)
{
    #arrowLeft, #arrowRight
    {
        font-size: 100px;
    }
}

#arrowLeft
{
  left:		20px;
}

#arrowRight
{
  right: 20px;
}

.slides-wrapper
{
  position: 	relative;
  width: 		100%;
  overflow: 	hidden;
  white-space:	nowrap;
}

.slide
{
    width:			100%;
    display:		inline-block;
    box-sizing:		border-box;
    margin:			0;
    white-space:	normal;
}

.text
{
    display:		inline-block;
    position:		relative;
    max-width:		500px;
    width: 100%;
}

.text > p
{
    white-space: 	normal;
    font-size:		1.4em;
}

.text > .name
{
    font-style:	italic;
}


/*
	END Header slider
*/

footer 
{
    background: #f7f7f7; 
    text-align: center;
    padding: 40px 0px;
    
}


.nyhet, .kontakt
{
    max-width: 350px;
    display: inline-block;
    padding: 10px;
    margin: 20px;  
    vertical-align: top;
}

.nyhet > img
{
    max-width: 70%;
}

.nyheter, .kontakter
{
    text-align: center;
}

.nyhet > p
{
    text-align: justify;
}

.omoss > img
{
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.omoss > p
{
    display: inline-block;
    max-width: 400px;
    text-align: justify;
    vertical-align: middle;
    padding: 10px;
}

.meross
{
    padding-top: 20px;
}

.vanster 
{
    display: none !important;
}

.hoger
{
    display: inline-block !important;
}

@media (max-width: 760px)
{
    .vanster
    {
        display: inline-block !important;
    }
    .hoger
    {
        display: none !important;
    }
}


	
.gmaps
{
	width:		100%;
	margin:		0 auto -3px auto;
}


.gmaps > iframe
{
    position:       relative;
    width:			100%;
    height:			350px;
    border:			0;
}


.seglingsnivaer
{
    padding: 30px 0px;
}

.seglingsnivaer > div 
{
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

.even
{
    background: #fbfbfb;
    border: 3px solid #f6f6f6;
    border-right: none;
    border-left: none;
}

.krav
{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 5px dashed #d6d6d6;
}

.kraveven
{
    border-color: #a6a6a6;
}

.sammanfattning
{
    text-align: justify;
}

.galleri > div > a > img
{
    max-width: 150px;
    width: 95%;
    display: inline-block;
    padding: 2px;
}

.galleri
{
    max-width: 1000px;
    text-align: center;
    padding: 40px 0px;
    margin: 0 auto;
}

.copyright
{
    text-align: center;
    padding: 15px 5px;
}