/* All text på sidan */
html
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

/* Alla rubriker */
h1, h2, h3, h4, h5, h6
{
    text-transform: uppercase;
    font-weight: 400;
}

header
{
    background-image: url("../img/header_anpassad.jpg");
    padding: 10px 0px;
}

/* Färger på länkar */
a, a:visited, a:hover
{
    color: black;
}

/* Start meny */
nav
{
    width: 100%;
}

nav > ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

/* Aktuell sida (current page) */
.menyactive
{
    font-weight: bold;
}

/* Menyknappar */
.menyitem
{
    vertical-align: middle;
    padding: 5px;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
    /* Alla knappar lika breda */
    min-width: 100px;
    
    display: block;
    margin: 0px 0px;
}

/* Börjar på 800 pixlar - bilr horisontellmeny */
@media (min-width: 800px)
{

    .menyitem
    {
        display: inline-block;
    }
}

/* Stegvisförbättring av menyns utseende */
/* Börjar på 1000 pixlar */
@media (min-width: 1000px)
{
    .menyitem
    {
        margin: 0px 20px;
    }
}

/* Börjar på 1250 pixlar */
@media (min-width: 1250px)
{
    .menyitem
    {
        margin: 0px 45px;
    }
}

/* Max bredd 220pixlar för mindre skärmar / mobil */
@media (max-width: 220px)
{
    .text
    {
        /* Bryter för långa ord */
        word-wrap: break-word;    
    }
}

/* Knappar för menyn */
.menyitem > a, .menyitem > a:visited, .menyitem > a:hover
{
    color: white;
    text-decoration: none;
}


/* Saxad från Systembolaget - animerad underline i menyn */
.underline-transition,
.underline-transition-child__element {
    position: relative;
}

    .underline-transition:hover,
    .underline-transition-child:hover {
        text-decoration: none;
    }

.underline-transition:before,
.underline-transition-child__element:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.selected > .underline-transition:before,
.underline-transition.opened:before,
.underline-transition.selected:before,
.underline-transition:hover:before,
.underline-transition-child.selected .underline-transition-child__element:before,
.underline-transition-child:hover .underline-transition-child__element:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Slut systembolagets underline */

.logo
{
    max-width: 100%;
}

/* Slut meny */

/*
	START Header slider
*/

#slider
{
	color:			white;
    /* Width anger totalbredd */
	box-sizing: 	border-box;
	padding:		50px 20px;
	background:		none;
	text-align:	 	center;
	position:		relative;
    /* Fullösning för sliderin - "Flyter ut" över restan av sidan annars */
	margin-bottom:	-70px;
}

/* Navigationspilar */
#arrowLeft, #arrowRight
{
	  position: 	absolute;
      /* Alltid överst */
	  z-index:  	9999;
      /* Döljs som standard */
	  display:		none;
	  font-size:	35px;
	  cursor:		pointer;
	  bottom:		70px;
}

/* Större pilar på större skärm */
@media (min-width: 620px)
{
    #arrowLeft, #arrowRight
    {
        font-size: 100px;
    }
}

/* Placera vänster pil */
#arrowLeft
{
  left:		20px;
}

/* Placera höger pil */
#arrowRight
{
  right: 20px;
}


/* Behållare för samtliga slides */
.slides-wrapper
{
  position: 	relative;
  width: 		100%;
  /* Visa aldrig scrollbar */
  overflow: 	hidden;
  /* Placera samtliga slides bedvid varandra även utanför skärm */    
  white-space:	nowrap;
}

/* Varje slide */ 
.slide
{
    width:			100%;
    display:		inline-block;
    box-sizing:		border-box;
    margin:			0;
    white-space:	normal;
}

/* Behållare för all text i slidern */
.text
{
    display:		inline-block;
    position:		relative;
    max-width:		500px;
    width: 100%;
}

/* Brödtext */
.text > p
{
    white-space: 	normal;
    font-size:		1.4em;
}

/* Undertecknat */
.text > .name
{
    font-style:	italic;
}


/*
	SLUT Header slider
*/


/* START Nyheter och Kontakt */ 
.nyhet, .kontakt
{
    max-width: 350px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    /* Justering av nyheter i överkant */
    vertical-align: top;
}

.nyhet > img
{
    max-width: 70%;
}

.nyheter, .kontakter
{
    text-align: center;
}

.nyhet > p
{
    text-align: justify;
}

/* SLUT Nyheter och kontakt */

/* START Karta inställningar */
.gmaps
{
	width:		100%;
	margin:		0 auto -3px auto;
}


.gmaps > iframe
{
    position:       relative;
    width:			100%;
    height:			350px;
    border:			0;
}
/* SLUT Karta inställningar */

/* START Om oss */
.omoss > img
{
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.omoss > p
{
    display: inline-block;
    max-width: 400px;
    text-align: justify;
    vertical-align: middle;
    padding: 10px;
}

.omosscontainer
{
    padding-top: 20px;
}

/* När webbläsare är större än 760 pixlar visas inte vänster bild om texten */
.vanster 
{
    display: none !important;
}

/* När webbläsare större än 760 pixlar visas bild på höger sida om text */
.hoger
{
    display: inline-block !important;
}

/* Vid fönsterstorlek <=760 pixlar visas vänsterbild */
@media (max-width: 760px)
{
    .vanster
    {
        display: inline-block !important;
    }
    .hoger
    {
        display: none !important;
    }
}

/* SLUT Om oss */

/* START Galleri */
.galleri > div > a > img
{
    max-width: 150px;
    /* Max 95% av skärmbredden */
    width: 95%;
    display: inline-block;
    padding: 2px;
}

.galleri
{
    max-width: 1000px;
    text-align: center;
    padding: 40px 0px;
    /* Centrerar */
    margin: 0 auto;
}

/* SLUT Galleri */

/* START Segling */

.kunskapsniva
{
    padding: 30px 0px;
}

.even
{
    background: #fbfbfb;
    border: 3px solid #f6f6f6;
    border-right: none;
    border-left: none;
}

.krav
{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 5px dashed #d6d6d6;
}

.kraveven
{
    border-color: #a6a6a6;
}

.sammanfattning
{
    text-align: justify;
    max-width: 700px;
    /* Max 90% av skrämsbredden */
    width: 90%;
    /* Centrerar */
    margin: 0 auto;
}

/* SLUT Segling */

/* START Fotnot */
footer 
{
    background: #f7f7f7; 
    text-align: center;
    padding: 40px 0px;
    
}
/* SLUT Fotnot */


/* START Copyright */
.copyright
{
    text-align: center;
    padding: 15px 5px;
}
/* SLUT Copyright */